### Clean the Data

Using the Original data downloaded from Kaggle about "Amazon Prime Users". The aim of this Jupiter Notebook:
- Clean the data.
- Make sure that there isn't a problem with the data.
- Return a CSV that contains the treated data.

In [1]:
# Import Pandas library
import pandas as pd

# Display the data inside of the CSV

In [2]:
# Read the data that is inside of the CSV
df = pd.read_csv("./Data/amazon_prime_users.csv")
df

,User ID,Name,Email Address,Username,Date of Birth,Gender,Location,Membership Start Date,Membership End Date,Subscription Plan,Payment Information,Renewal Status,Usage Frequency,Purchase History,Favorite Genres,Devices Used,Engagement Metrics,Feedback/Ratings,Customer Support Interactions
0,1,Ronald Murphy,williamholland@example.com,williamholland,1953-06-03,Male,Rebeccachester,2024-01-15,2025-01-14,Annual,Mastercard,Manual,Regular,Electronics,Documentary,Smart TV,Medium,3.6,3
1,2,Scott Allen,scott22@example.org,scott22,1978-07-08,Male,Mcphersonview,2024-01-07,2025-01-06,Monthly,Visa,Manual,Regular,Electronics,Horror,Smartphone,Medium,3.8,7
2,3,Jonathan Parrish,brooke16@example.org,brooke16,1994-12-06,Female,Youngfort,2024-04-13,2025-04-13,Monthly,Mastercard,Manual,Regular,Books,Comedy,Smart TV,Low,3.3,8
3,4,Megan Williams,elizabeth31@example.net,elizabeth31,1964-12-22,Female,Feliciashire,2024-01-24,2025-01-23,Monthly,Amex,Auto-renew,Regular,Electronics,Documentary,Smart TV,High,3.3,7
4,5,Kathryn Brown,pattersonalexandra@example.org,pattersonalexandra,1961-06-04,Male,Port Deborah,2024-02-14,2025-02-13,Annual,Visa,Auto-renew,Frequent,Clothing,Drama,Smart TV,Low,4.3,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2495,2496,Michael Lopez,williamsroberto@example.org,williamsroberto,1967-08-19,Male,Smithport,2024-01-25,2025-01-24,Annual,Visa,Auto-renew,Frequent,Electronics,Comedy,Smartphone,Medium,4.9,2
2496,2497,Matthew Woodard,lkaiser@example.com,lkaiser,1980-10-23,Male,Ethanport,2024-03-03,2025-03-03,Annual,Amex,Manual,Frequent,Books,Comedy,Smart TV,Medium,4.0,0
2497,2498,Morgan Barnes,erikaholland@example.net,erikaholland,1972-03-31,Female,Alexandraborough,2024-02-09,2025-02-08,Annual,Visa,Manual,Frequent,Electronics,Documentary,Tablet,Low,4.9,8
2498,2499,Gina Castaneda,reedcourtney@example.net,reedcourtney,1965-08-02,Female,Williammouth,2024-02-18,2025-02-17,Monthly,Visa,Manual,Regular,Clothing,Comedy,Smartphone,High,3.4,7
2499,2500,Mark Nicholson,martinisaac@example.net,martinisaac,1972-11-13,Female,Estradaborough,2024-01-28,2025-01-27,Annual,Visa,Auto-renew,Regular,Books,Documentary,Smart TV,High,3.3,9

# Begin Cleaning the Data

In [3]:
if df is not None:
  # Perform data analysis or other operations with the DataFrame
  print(df.head())

   User ID              Name                   Email Address  \
0        1     Ronald Murphy      williamholland@example.com
1        2       Scott Allen             scott22@example.org
2        3  Jonathan Parrish            brooke16@example.org
3        4    Megan Williams         elizabeth31@example.net
4        5     Kathryn Brown  pattersonalexandra@example.org

             Username Date of Birth  Gender        Location  \
0      williamholland    1953-06-03    Male  Rebeccachester
1             scott22    1978-07-08    Male   Mcphersonview
2            brooke16    1994-12-06  Female       Youngfort
3         elizabeth31    1964-12-22  Female    Feliciashire
4  pattersonalexandra    1961-06-04    Male    Port Deborah

  Membership Start Date Membership End Date Subscription Plan  \
0            2024-01-15          2025-01-14            Annual
1            2024-01-07          2025-01-06           Monthly
2            2024-04-13          2025-04-13           Monthly
3            2024-01-24          2025-01-23           Monthly
4            2024-02-14          2025-02-13            Annual

  Payment Information Renewal Status Usage Frequency Purchase History  \
0          Mastercard         Manual         Regular      Electronics
1                Visa         Manual         Regular      Electronics
2          Mastercard         Manual         Regular            Books
3                Amex     Auto-renew         Regular      Electronics
4                Visa     Auto-renew        Frequent         Clothing

  Favorite Genres Devices Used Engagement Metrics  Feedback/Ratings  \
0     Documentary     Smart TV             Medium               3.6
1          Horror   Smartphone             Medium               3.8
2          Comedy     Smart TV                Low               3.3
3     Documentary     Smart TV               High               3.3
4           Drama     Smart TV                Low               4.3

   Customer Support Interactions
0                              3
1                              7
2                              8
3                              7
4                              1

In [4]:
# Check how many columns are in the CSV
df.columns

Index(['User ID', 'Name', 'Email Address', 'Username', 'Date of Birth',
       'Gender', 'Location', 'Membership Start Date', 'Membership End Date',
       'Subscription Plan', 'Payment Information', 'Renewal Status',
       'Usage Frequency', 'Purchase History', 'Favorite Genres',
       'Devices Used', 'Engagement Metrics', 'Feedback/Ratings',
       'Customer Support Interactions'],
      dtype='object')

In [5]:
# Return a detailed list for each column to verified if there is a missing value

results = {}

# Check for missing values
missing_values = df.isnull().sum()
results["missing_values"] = missing_values.to_dict()

results

{'missing_values': {'User ID': 0,
  'Name': 0,
  'Email Address': 0,
  'Username': 0,
  'Date of Birth': 0,
  'Gender': 0,
  'Location': 0,
  'Membership Start Date': 0,
  'Membership End Date': 0,
  'Subscription Plan': 0,
  'Payment Information': 0,
  'Renewal Status': 0,
  'Usage Frequency': 0,
  'Purchase History': 0,
  'Favorite Genres': 0,
  'Devices Used': 0,
  'Engagement Metrics': 0,
  'Feedback/Ratings': 0,
  'Customer Support Interactions': 0}}

In [6]:
# Return is there are duplicate rows

results = {}

# Check for duplicate rows
num_duplicates = df.duplicated().sum()
results["duplicate_rows"] = num_duplicates

results

{'duplicate_rows': 0}

In [7]:
# Define a copie of the original list to a new one that is going to be modified
cleaned_df = df

# Handle Missing Values
cleaned_df = df.fillna('')  # Replace missing values with empty strings

In [8]:
# Data Type Conversion
date_columns = ['Date of Birth', 'Membership Start Date', 'Membership End Date']
for col in date_columns:
  cleaned_df[col] = pd.to_datetime(cleaned_df[col], errors='coerce')

In [9]:
# Clean 'Email Address'
cleaned_df['Email Address'] = cleaned_df['Email Address'].str.lower() 
cleaned_df['Email Address'] = cleaned_df['Email Address'].str.strip()  # Remove leading/trailing whitespace

In [10]:
# Clean 'Location' (Basic Example - Assuming 'Location' is a string)
cleaned_df['Location'] = cleaned_df['Location'].str.title()  # Title case for better readability

In [11]:
# Clean 'Devices Used'
cleaned_df['Devices Used'] = cleaned_df['Devices Used'].str.split(',')  # Split string into list of devices

In [12]:
# Clean 'Purchase History' (Basic Example - Assuming 'Purchase History' is a string)
# Example: Extract relevant information (e.g., product IDs, purchase dates)
# This requires more specific logic based on the format of 'Purchase History' 
# (e.g., using regular expressions)
cleaned_df['Purchase History'] = cleaned_df['Purchase History'].apply(lambda x: 
                                                      [(item.split(':')[0], pd.to_datetime(item.split(':')[1])) 
                                                       for item in x.split(';')] if ':' in x else [x] if x else [] )

In [13]:
# Clean 'Favorite Genres'
cleaned_df['Favorite Genres'] = cleaned_df['Favorite Genres'].str.split(',')  # Split string into list of genres

In [14]:
# Print the Clean CSV
cleaned_df

,User ID,Name,Email Address,Username,Date of Birth,Gender,Location,Membership Start Date,Membership End Date,Subscription Plan,Payment Information,Renewal Status,Usage Frequency,Purchase History,Favorite Genres,Devices Used,Engagement Metrics,Feedback/Ratings,Customer Support Interactions
0,1,Ronald Murphy,williamholland@example.com,williamholland,1953-06-03,Male,Rebeccachester,2024-01-15,2025-01-14,Annual,Mastercard,Manual,Regular,[Electronics],[Documentary],[Smart TV],Medium,3.6,3
1,2,Scott Allen,scott22@example.org,scott22,1978-07-08,Male,Mcphersonview,2024-01-07,2025-01-06,Monthly,Visa,Manual,Regular,[Electronics],[Horror],[Smartphone],Medium,3.8,7
2,3,Jonathan Parrish,brooke16@example.org,brooke16,1994-12-06,Female,Youngfort,2024-04-13,2025-04-13,Monthly,Mastercard,Manual,Regular,[Books],[Comedy],[Smart TV],Low,3.3,8
3,4,Megan Williams,elizabeth31@example.net,elizabeth31,1964-12-22,Female,Feliciashire,2024-01-24,2025-01-23,Monthly,Amex,Auto-renew,Regular,[Electronics],[Documentary],[Smart TV],High,3.3,7
4,5,Kathryn Brown,pattersonalexandra@example.org,pattersonalexandra,1961-06-04,Male,Port Deborah,2024-02-14,2025-02-13,Annual,Visa,Auto-renew,Frequent,[Clothing],[Drama],[Smart TV],Low,4.3,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2495,2496,Michael Lopez,williamsroberto@example.org,williamsroberto,1967-08-19,Male,Smithport,2024-01-25,2025-01-24,Annual,Visa,Auto-renew,Frequent,[Electronics],[Comedy],[Smartphone],Medium,4.9,2
2496,2497,Matthew Woodard,lkaiser@example.com,lkaiser,1980-10-23,Male,Ethanport,2024-03-03,2025-03-03,Annual,Amex,Manual,Frequent,[Books],[Comedy],[Smart TV],Medium,4.0,0
2497,2498,Morgan Barnes,erikaholland@example.net,erikaholland,1972-03-31,Female,Alexandraborough,2024-02-09,2025-02-08,Annual,Visa,Manual,Frequent,[Electronics],[Documentary],[Tablet],Low,4.9,8
2498,2499,Gina Castaneda,reedcourtney@example.net,reedcourtney,1965-08-02,Female,Williammouth,2024-02-18,2025-02-17,Monthly,Visa,Manual,Regular,[Clothing],[Comedy],[Smartphone],High,3.4,7
2499,2500,Mark Nicholson,martinisaac@example.net,martinisaac,1972-11-13,Female,Estradaborough,2024-01-28,2025-01-27,Annual,Visa,Auto-renew,Regular,[Books],[Documentary],[Smart TV],High,3.3,9

# Return the Clean Data to a new CSV

In [15]:
# Clean Data
cleaned_df.to_csv("./Data/cleaned_amazon_prime_users.csv", index=False)